.container-blog {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 70px;
}


/* Content */
.container-blog {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Content */
.container-blog .container-info {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-blog .content-info {
    width: 90%;
    max-width: 1100px;
    height: calc(100vh - 70px);
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-info .confetes {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container-blog .content-info .info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 0px;
}

.container-blog .content-info .info h2 {
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: var(--orangeThree);
    margin: 0px 0px -2px 0px;
}

.container-blog .content-info .info h1 {
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 0.4px;
    color: var(--orangeThree);
    margin: 0px 0px 20px 0px;
}

.container-blog .content-info .info p {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--neutralTwo);
    margin: 0px 0px 30px 0px;
}

.container-blog .content-info .info .rotas {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-blog .content-info .info .rotas p {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--neutralSeven);
    margin: 10px 8px 0px 0px;
    cursor: pointer;
    transition: all .1s linear;
} .container-blog .content-info .info .rotas p:hover {
    color: var(--orangeThree);
} .container-blog .content-info .info .rotas p:last-child {
    cursor: text;
} .container-blog .content-info .info .rotas p:last-child:hover {
    color: var(--neutralSeven);
}

    


.container-blog .content-info .info .datas {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-blog .content-info .info .datas .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 20px 0px 0px;
    margin: 0px 20px 0px 0px;
    border-right: 1px solid var(--neutralEight);
} .container-blog .content-info .info .datas .data:last-child {
    border-right: none;
}

.container-blog .content-info .info .datas .data h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: var(--orangeThree);
    margin: 0px 0px 6px 0px;
}

.container-blog .content-info .info .datas .data p {
    font-size: 16px;
    font-weight: 350;
    letter-spacing: 0px;
    color: var(--neutralSeven);
    margin: 0px 0px 0px 0px;
}

.container-blog .content-info .info h3 {
    max-width: 350px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--orangeThree);
    margin: 30px 0px 0px 0px;
}


/* Posts */
.container-posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-posts .posts {
    width: 90%;
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 35px;
    margin: -20px 0px 0px 0px;
    padding: 0px 0px 140px 0px;
}

.container-posts .posts .post {
    width: max-content;
    max-width: 280px;
    height: max-content;
    border-radius: 16px;
    background: var(--white);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.09);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-posts .posts .post img {
    width: 100%;
    height: max-content;
    border-radius: 8px;
    margin: 0px 0px 10px 0px;
}

.container-posts .posts .post .data {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    margin: 0px 0px 4px 0px;
}

.container-posts .posts .post .data h1 {
    width: unset;
    font-size: 48px;
    font-weight: 500;
    color: var(--orangeThree);
    margin: 0px 12px 0px 0px;
    line-height: unset;
}

.container-posts .posts .post .data p {
    width: unset;
    font-size: 16.25px;
    font-weight: 500;
    line-height: 18px;
    color: var(--neutralFive);
    margin: 2px 0px 0px 0px;
    text-align: start;
}

.container-posts .posts .post h1 {
    width: 95%;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: var(--neutralTwo);
    margin: 0px 0px 8px 0px;
}

.container-posts .posts .post p {
    width: 95%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--neutralSix);
    margin: 0px 0px 8px 0px;
    text-align: justify;
}

.container-posts .posts .post a {
    width: 95%;
    font-size: 16px;
    font-weight: 550;
    line-height: 20px;
    color: var(--orangeTwo);
    margin: 4px 0px 8px 0px;
    text-align: start;
    cursor: pointer;
} .container-posts .posts .post a:hover {
    text-decoration: underline;
}

/* Não encontrado */
.container-blog .posts .nao-encontrado {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--orangeThree);
    margin: -40px 0px 0px 0px;
} .container-blog .posts .nao-encontrado img {
    width: 100%;
    max-width: 400px;
    margin: -50px -50px -35px -50px;
    height: max-content;
} .container-blog .posts .nao-encontrado h1 {
    width: 97.5%;
    text-align: center;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 700;
}

/* Blog Individual */
.container-post-selecionado {
    width: 90%;
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: -20px 0px 0px 0px;
    padding: 0px 0px 100px 0px;
}

.container-post-selecionado h1 {
    width: 100%;
    height: auto;
    text-align: start;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    color: var(--neutralFive);
    color: var(--orangeThree);
    margin: 0px 0px 14px 0px;
}

.container-post-selecionado p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--neutralFive);
    margin: 0px 0px 14px 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.container-post-selecionado .comentarios {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
}

.container-post-selecionado .comentarios .form-comentario {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px auto 0px 0px;
}

.container-post-selecionado .comentarios .form-comentario h1 {
    font-size: 24px;
    font-weight: 650;
    color: var(--neutralSix);
}

.container-post-selecionado .comentarios .form-comentario .input {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;    
    margin: 0px auto 20px 0px;
    position: relative;
}

.container-post-selecionado .comentarios .form-comentario .input label {
    font-size: 16px;
    font-weight: 500;
    color: var(--neutralSix);
    margin: 0px 0px 4px 2px;
}

.container-post-selecionado .comentarios .form-comentario .input input {
    width: 400px;
    max-width: 100%;
    height: 45px;
    border: 2px solid var(--neutralEight);
    border-radius: 8px;
    padding: 0px 12.5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--neutralFive);
    outline: none;
} .container-post-selecionado .comentarios .form-comentario .input input:focus {
    border: 2px solid var(--neutralSeven);
    box-shadow: 0px 0px 10px var(--neutralSeven);
}

.container-post-selecionado .comentarios .form-comentario .input textarea {
    width: 400px;
    min-width: 400px;
    max-width: 100%;
    height: 70px;
    min-height: 70px;
    max-height: 140px;
    border: 2px solid var(--neutralEight);
    border-radius: 8px;
    padding: 12.5px 12.5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--neutralFive);
    outline: none;
} .container-post-selecionado .comentarios .form-comentario .input textarea:focus {
    border: 2px solid var(--neutralSeven);
    box-shadow: 0px 0px 10px var(--neutralSeven);
}

.container-post-selecionado .comentarios .form-comentario button {
    width: 425px;
    max-width: 100%;
    height: 50px;
    border: 2px solid var(--orangeThree);
    background: var(--orangeThree);
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: var(--neutralEight);
    outline: none;
    cursor: pointer;
    margin: 5px auto 0px 0px;
} .container-post-selecionado .comentarios .form-comentario button:hover,
  .container-post-selecionado .comentarios .form-comentario button:focus {
    background: transparent;
    color: var(--orangeThree);
    box-shadow: 0px 0px 10px var(--orangeThree);
}